<div class="well col-lg-9">
    <h3> Bestel hier uw dierbenodigheden!</h3>
</div>


<div class="well col-lg-9 btn-group">
    <button type="button" class="btn btn-success"
            ng-click="products.showAllProducts()">Alles</button>
    <button type="button" class="btn btn-success" ng-repeat="category in products.categories"
            ng-click="products.showProductsByCategory(category)">{{category}}</button>
</div>

<div class="well col-lg-9">

    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Beschrijving</th>
        </tr>
        <tr ng-repeat="product in products.listProducts">
            <td>{{product.name}}</td>
            <td>{{product.price|currency:"&euro; "}}</td>
            <td>{{product.description}}</td>
            <td><button type="button" class="btn btn-success" ng-click="products.addToCart(product)">Toevoegen</button></td>
        </tr>
        </tbody>
    </table>
</div>

<div align="center" >
   <a ng-href="#!/winkelwagen"><span class="glyphicon glyphicon-shopping-cart" ></span></a>
    <p>{{products.productCount}}</p>
   <!--<p ng-bind="products.getProductCount()">{{products.productCount}}</p>-->
</div>

<p>{{products.shoppingCart}}</p>
<!--<p>{{products.productCount}}</p>-->