<div class="well col-lg-9">
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Product</th>
            <th>Prijs</th>
            <th>Beschrijving</th>
        </tr>
        <tr ng-repeat="product in main.listProducts">
            <td>{{product.name}}</td>
            <td>{{product.price|currency:"&euro; "}}</td>
            <td>{{product.description}}</td>
            <td><button type="button" class="btn btn-success"
                        ng-click="main.addToCart(product)">Toevoegen</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center" ng-hide="main.isLastProduct()">
   <a ng-href="#!/winkelwagen"><span class="glyphicon glyphicon-shopping-cart" ></span></a>
    <p><span ng-bind="main.getCount()"></span>{{main.productCount}}</p>
</div>