<div class=" well col-lg-9">

    <div class="well">
        <h3>Mijn winkelmandje</h3>
    </div>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Product</th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Totaal</th>
        </tr>
        <tr ng-repeat="product in main.shoppingCart">
            <td>{{product.name}}</td>
            <td>{{product.price|currency:"&euro; "}}</td>
            <td><button type="submit" class="btn-sm btn-success" role="button"
                        ng-click="main.removeProduct(product);
                                main.calculateTotalPrice()">
                        <span class="glyphicon glyphicon-minus" ></span>
            </button> {{product.amount}}
                <button type="submit" class="btn-sm btn-success" role="button"
                        ng-click="main.addProduct(product);
                                main.calculateTotalPrice()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button></td>
            <td>{{product.total|currency:"&euro; "}}</td>
        </tr>
        <tr>
            <td><strong>Totale bestelling</strong></td>
            <td></td>
            <td></td>
            <td><span ng-bind="main.getPrice()"></span><strong>{{main.sPrijs|currency:"€"}}</strong></td>
        </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-success" role="button"
            ng-click="main.sendCart()">Bestellen</button>
    </div>

<div align="center">
    <!--style="background:#DAFADA"> -->
    <a href="#!/welkom"> <span class="glyphicon glyphicon-chevron-left" style="font-size: 50px "  ></span></a>
    <p>Verder Winkelen</p>
</div>

<!--<!DOCTYPE html>-->
<!--<div>-->

    <!--<div class="row">-->
        <!--<div class="well col-lg-9">-->
            <!--<h3>Mijn winkelmandje</h3>-->
        <!--</div>-->
        <!--<div class="text-center col-lg-3">-->
            <!--<button type="submit" style="background:#DAFADA">-->
                <!--<span class="glyphicon glyphicon-chevron-left" style="font-size: 50px"  ></span>-->
                <!--<p>Verder Winkelen</p>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class=" well col-lg-9">-->
        <!--<table class="table table-bordered table-hover">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<th>Product</th>-->
                <!--<th>Prijs</th>-->
                <!--<th>Minder</th>-->
                <!--<th>Aantal</th>-->
                <!--<th>Meer</th>-->
                <!--<th>Totaal</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="product in main.shoppingCart">-->
                <!--<td>{{product.name}}</td>-->
                <!--<td>{{product.price|currency:"&euro; "}}</td>-->
                <!--<td style="align-content: center">-->
                    <!--<button type="submit" class="btn btn-success" role="button"-->
                            <!--ng-click="main.removeProduct(product);-->
                                <!--main.calculateTotalPrice()">-->
                        <!--<span class="glyphicon glyphicon-minus" style="font-size: 25px"  ></span>-->
                    <!--</button></td><td>-->
                <!--{{product.amount}}</td><td>-->
                <!--<button type="submit" class="btn btn-success" role="button"-->
                        <!--ng-click="main.addProduct(product);-->
                                <!--main.calculateTotalPrice()">-->
                    <!--<span class="glyphicon glyphicon-plus" style="font-size: 25px"  ></span>-->
                <!--</button>-->
            <!--</td>-->
                <!--<td>{{product.total|currency:"&euro; "}}</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="text-right">Totale prijs: {{main.totalPrice|currency:"&euro; "}}</p>-->
    <!--</div>-->
<!--</div>-->