<div class=" well col-lg-9">
    <table class="table table-bordered table-hover">
        <th>Uw winkelmandje:</th>
        <tbody>
        <tr>
            <th>Product</th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Totaal</th>
        </tr>
        <tr ng-repeat="product in main.shoppingCart">
            <td>{{product.name}}</td>
            <td>{{product.price|currency:"&euro; "}}</td>
            <td><button type="submit" class="btn-sm btn-success" role="button"
                        ng-click="main.removeProduct(product);
                                main.calculateTotalPrice()">
                        <span class="glyphicon glyphicon-minus" ></span>
            </button> {{product.amount}}
                <button type="submit" class="btn-sm btn-success" role="button"
                        ng-click="main.addProduct(product);
                                main.calculateTotalPrice()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button></td>
            <td>{{product.total|currency:"&euro; "}}</td>
        </tr>
        <tr>
            <td><strong>Totale bestelling</strong></td>
            <td></td>
            <td></td>
            <td><span ng-bind="main.getPrice()"></span><strong>{{main.sPrijs|currency:"€ "}}</strong></td>
        </tr>

        </tbody>
    </table>
</div>

<div align="center">
    <!--style="background:#DAFADA"> -->
    <a href="#!/welkom"> <span class="glyphicon glyphicon-chevron-left" style="font-size: 50px "  ></span></a>
    <p>Verder Winkelen</p>
</div>

<div class="well col-lg-9">
    <form name="userForm">
        <table class="user-form">
            <th>Uw bestelgegevens:</th>
            <tr>
                <td>Voornaam:</td>
                <td><input type="text" ng-model="main.user.clientFirstName" required></td>
            </tr>
            <tr>
                <td>Achternaam:</td>
                <td><input type="text" ng-model="main.user.clientLastName" required></td>
            </tr>
            <tr>
                <td>Straatnaam:</td>
                <td><input type="text" ng-model="main.user.address" required></td>
            </tr>
            <tr>
                <td>Postcode:</td>
                <td><input type="text" ng-model="main.user.postalCode" required
                           ng-pattern="/^[1-9][0-9]{3}\s?[a-zA-Z]{2}$/"></td>
            </tr>
            <tr>
                <td>Stad:</td>
                <td><input type="text" ng-model="main.user.city" required></td>
            </tr>
            <tr>
                <td>Email-adres:</td>
                <td><input type="email" ng-model="main.user.email" required></td>
            </tr>

            <tr>
                <td>&nbsp</td>
                <td><a href="#!/welkom"><button class="btn btn-success" ng-click="main.submitForm(); main.sendCart()"
                                               ng-disabled="userForm.$invalid">Bestellen</button></a></td>
            </tr>

        </table>
    </form>

    <p>
        {{main.shoppingCart}}
    </p>
</div>