<html ng-app="ProductViewer">

<head>
    <script type="text/javascript" src="app/libs/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script type="text/javascript" src="app/controllers/controllers.js"></script>
    <title>Pet Supplies</title>
</head>

<body>
<h1>Welcome to Pet Supplies!</h1>
<div ng-controller="ProductController">
    <table border="1">
        <tr>
            <td>Product</td>
            <td>Price (&euro;)</td>
            <td>Description</td>
        </tr>
        <tr ng-repeat="product in Producten">
            <td>{{product.Product}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Description}}</td>
        </tr>

    </table>
</div>

<div ng-controller="JSONController">
    <ul ng-repeat="product in jsonArray">
        Result from RESTful service is: {{ product.name }}
    </ul>
</div>

</body>


</html>